.root {
  display: flex;
  flex-direction: column;
  gap: var(--sp-m);
  padding: var(--sp-m);
}

.header {
  display: flex;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--sp-s);
  padding: var(--sp-s) 0;
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: var(--sp-2xs);
}

.divider {
  height: 1px;
  background: var(--c-border-faint);
}
